body{
    background-color: #0B132B;
    background-image: linear-gradient(to right, #0B132B, #1C2541, #3A506B);
    background-attachment: fixed;
    background-size: cover;
}

.navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    background-image: linear-gradient(to right, #1C2541, #3A506B);
    padding: 5px 25px;
    box-sizing: border-box;
    z-index: 1001;
}

.nav{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 25px;
}

.navigation form{
    justify-self: flex-end;
}

.nav a {
    padding: 25px;
    text-decoration: none;
    color: white;
    font-size: 15px;
}

.navigation #asearch {
    width: 400px;
    padding: 10px;
    font-size: 15px;
    max-width: 100%;
}

.nav a:hover{
    background-image: linear-gradient(to bottom,rgb(255, 192, 203,0.3),rgba(237, 148, 148, 0.3));
    border-radius: 10px;
    cursor: pointer;
}

.navigation form {
    position: absolute;
    right: 30px;
}

.banner {
    display: block;
    width: 100%;
    height: auto;
    margin-top: 90px;
    margin-bottom: 20px;
}

.navigation1 {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    background-image: linear-gradient(to right, #1C2541, #3A506B);
    left: 0;
    width: 100%;
    margin: 0;
    z-index: 1000;
}

.nav2 a{
    padding: 19px;
    color: rgb(255, 192, 203);
    text-decoration: none;
    display: inline-block;
    z-index: 1000;
    font-size: 20px;
}

.nav2 a:hover{
    background-image: linear-gradient(to bottom,rgb(255, 192, 203,0.3),rgba(237, 148, 148, 0.3));
    border-radius: 10px;
    cursor: pointer;
}


.Trending {
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    text-align: center;
    margin-top: 40px;
    background-image: linear-gradient(to right, #1C2541, #3A506B);

}

.Trending .header h2 {
    font-size: 36px;
    color: white;
    margin-bottom: 10px;
}

.Trending .one{
    position: relative;
    display: inline-block;
    margin: 20px;
}

.Trending img{
    border-radius: 15px;
    transition: transform 0.5s ease, box-shadow 0.5s ease;
}

.Trending .one:hover img{
  transform: translateY(-15px);
  box-shadow: 2px 2px 20px rgb(255, 255, 255);
}

.Trending .number {
    position: absolute;
    bottom: 15px;
    left: -30px;
    font-size: 28px;
    font-weight: bold;
    z-index: 1;
    color: pink;
}

.Trending .name{
    position: absolute;
    bottom: 65px;
    left: 0;
    transform: rotate(-90deg);
    transform-origin: left bottom;
    font-size: 20px;
    color: white;
    font-weight: bold;
    z-index: 2;
    white-space: nowrap;
}

.one{
    position: relative;
}
.first-section{
    margin-bottom: 50px;
}
.second-section{
    margin-bottom: 50px;}
.Anime{
    display: none;
    position: absolute;
    bottom: 35%;
    left: 50%;
    right: 0;
    background-image: linear-gradient(to bottom, rgb(255, 229, 180,0.9), rgba(200, 113, 26, 0.9));
    color: white;
    z-index: 1002;
}
.one:hover .Anime{
    display: block;
    z-index: 1002;
    width: fit-content;
    text-align: left;
    padding: 10px;
    font-weight: bold;
    border-radius: 20px;
}

footer p{
    position: absolute;
    left:0;
    background-image: linear-gradient(to right, black, #0B132B, black);
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 15px;
    width: 100%;
    z-index: 1000;
    letter-spacing: 5px;
    word-spacing: 5px;
}

.Trending > video{
    width: 1200px;
}

.Trending + video{
    width: 800px;
    height: 500px;
}

.navigation .c1 {
    display: none;
}
.media{
    display: none;
    background-image: linear-gradient(to right, #1C2541, #3A506B);
    opacity: 0.9;
    text-align: left;
    padding: 15px 0;
    position: fixed;
    top: 70px;
    left: 0;
    width: auto;
    height: 100%;
    top: 0;
    z-index: 2005;
    box-shadow: 0 5px 15px rgba(0,0,0,0.5);
}

.media .c1{
    display: none;
    opacity: 0.9;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: white;
    padding: 20px;
}

#toggle {
display: none;
}

@media (max-width:1220px){
    .Trending > video{
        object-fit: cover;
        width: 100%;
    }
    .Trending + video{
        object-fit: cover;
        width: 100%;
    }
}

@media (max-width:1131px){
    .navigation {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        justify-items: center;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        padding: 10px 20px;
        gap: 10px;
        object-fit: cover;
    }
    .navigation form {
        position: relative; 
        width: 80%;
        justify-self: center;
        margin-top: 10px;
        display: flex;
        justify-content: center; 
    }
    .nav {
        flex-wrap: wrap;
        justify-content: center;
    }
    .navigation .c1{
        display: block;
        cursor: pointer;
    }

    .navigation1{
        display: none;
    }
    .banner{
        margin-top: 220px;
    }
    #menu-toggle:checked + label + .media {
        display: flex;
        flex-direction: column;
        z-index: 2005;
    }
    .media {
      width: auto;
      max-width: 500px;
      padding: 15px 0;
      overflow: scroll;
    }
    .media a {
      display: block;
      margin: 10px auto;
      width: auto;
      font-size: 18px;
    }
    .media .c1 {
      display: block;
      margin: 10px auto;
      width: auto;
      font-size: 18px;
    }
    .nav #c1:hover{
        background-image: linear-gradient(to bottom,rgb(255, 192, 203,0.3),rgba(237, 148, 148, 0.3));
        border-radius: 10px;
    }

    .Anime{
    display: none;
    position: absolute;
    bottom: 45%;
    left: -25%;
    right: 0;
    background-image: linear-gradient(to bottom, rgb(255, 229, 180,0.9), rgba(200, 113, 26, 0.9));
    color: white;
    z-index: 1002;
    }
    .one:hover .Anime{
        width: min-content;
    }
    
}