body{
    background-image: linear-gradient(to right, #0B132B, #1C2541, #3A506B);

}
.logo{
    position: fixed;
    z-index: 1005;
    top: 0;
    left: 2%;
}
.logo:hover{
    cursor: pointer;
}
.navigation{
    box-sizing: border-box;
    background-image: linear-gradient(to right, #1C2541, #3A506B);
    position: fixed;
    top: 0;
    left: 0;
    width: 99.5%;
    height: 60px;
    z-index: 1004;
    padding-left: 100px;
}

.nav a{
    padding: 21px;
    color: white;
    text-decoration: none;
    display: inline-block;
    z-index: 1000;

}

.nav a:hover{
    background-image: linear-gradient(to bottom,rgb(255, 192, 203,0.3),rgba(237, 148, 148, 0.3));
    border-radius: 10px;
    cursor: pointer;
}

#asearch{
    margin-top: 12px;
    margin-right: 20px;
    width: 300px;
    padding: 10px;
    float:right;
    font-size: 15px;
    border: none;
}

.banner{
    width: 101%;
    margin-top: 4.5%;
    margin-left: -1%;
}
.navigation1{
    box-sizing: border-box;
    background-image: linear-gradient(to right, #1C2541, #3A506B);
    position: absolute;
    top:57%;
    left: 0;
    width: 99.55%;
    padding-left: 200px;
    margin: 0;
    margin-top: 0.5%;
    z-index: 1000;
    height: 60px
}
.nav2 a{
    padding: 19px;
    color: rgb(255, 192, 203);
    text-decoration: none;
    display: inline-block;
    z-index: 1000;
    font-size: 20px;
}

.nav2 a:hover{
    background-image: linear-gradient(to bottom,rgb(255, 192, 203,0.3),rgba(237, 148, 148, 0.3));
    border-radius: 10px;
    cursor: pointer;
}


.Trending {
    position: relative;
    text-align: center;
    margin-top: 40px;
    background-image: linear-gradient(to right, #1C2541, #3A506B);
    top: 60px;
}

.Trending .header h2 {
    font-size: 36px;
    color: white;
    margin-bottom: 10px;
}

.Trending .one,
.Trending .two,
.Trending .three,
.Trending .four,
.Trending .five {
    position: relative;
    display: inline-block;
    margin: 20px;
}

.Trending img{
    border-radius: 15px;
}

.Trending img:hover{
    box-shadow: white 2px 2px 20px;
    transition: 0.5s all;
    cursor: pointer;
    margin-bottom: 15px;
}

.Trending .number {
    position: absolute;
    bottom: 15px;
    left: -30px;
    font-size: 28px;
    font-weight: bold;
    z-index: 1;
    color: pink;
}

.Trending .name {
    position: absolute;
    bottom: 65px;
    left: 0;
    transform: rotate(-90deg);
    transform-origin: left bottom;
    font-size: 20px;
    color: white;
    font-weight: bold;
    z-index: 2;
    white-space: nowrap;
}

.one{
    position: relative;
}
.first-section{
    margin-bottom: 50px;
}
.second-section{
    margin-bottom: 50px;}
.Anime{
    display: none;
    position: absolute;
    bottom: 35%;
    left: 50%;
    right: 0;
    background-image: linear-gradient(to bottom, rgb(255, 229, 180,0.9), rgba(200, 113, 26, 0.9));
    color: white;
    z-index: 1002;
}
.one:hover .Anime{
    display: block;
    z-index: 1002;
    width: 310px;
    text-align: left;
    padding-left: 10px;
    font-weight: bold;
    border-radius: 20px;
}
